.sys-container {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
    
}

.sys-container pre {
    margin: 0;
    line-height: 1.5;
}

.sys-highlight {
    color: #739FCF;
    font-weight: bold;
}