.container {
  max-width: 1050px;
  margin: auto;
  padding: 20px;
}

.navbar {
  height: 55px;
}

.hero-banner {
  height: 230px;
  max-width: 700px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 1.8rem;
}

.category-card {
  height: 95px;
}

.content {
  grid-template-columns: 1fr 220px;
}

.mentor-card img {
  width: 45px;
  height: 45px;
}

.footer {
  padding: 18px 35px;
}