.toggleBar {
    display: flex;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: #c2c7cf9c solid 1px;
}

.toggleButton {
    flex: 1;
    padding: 12px;
    border: none;
    cursor: pointer;

    background-color: #D8E5F3;
    color: #64AAF4;

    font-size: 1rem;
    font-weight: 600;

    transition: all 0.3s ease;
}

.active {
    background-color: #39618B;
    color: white;
}